@use 'Variables';

//Font API
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

.Container {
    font-family: 'Public Sans', sans-serif;
}

// Default styles
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p, a, span, label {
    font-size: Variables.$f-size;
    line-height: 1.7rem;
    color: Variables.$Grayish-Blue;
}

.Container {
    margin: auto;
    width: 100%;
    max-width: 1920px;
    min-height: 100vh;
    padding: 0;
}

.btn {
    background: linear-gradient(90deg, Variables.$Lime-Green 0%, Variables.$Bright-Cyan 100%);
    border: none;
    color: Variables.$White;
    padding: 10px 30px;
    border-radius: 25px;
    cursor: pointer;

    &-text {
        color: Variables.$Very-Light-Gray;
    }
}

h2 {
    margin-bottom: 20px;
    font-size: 45px;
    font-weight: 300;
    text-align: center;
    color: Variables.$Dark-Blue;
}

h3 {
    margin: 10px;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    color: Variables.$Dark-Blue;
}
