@use 'Default';
@use 'Variables';

.Container {

    /*                   */
    /*    Header Styles  */
    /*                   */

    &_header {
        position: fixed;
        width: 100%;
        left: 0;
        padding: 1.5rem;
        background: Variables.$White;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &_nav-right {
            position: fixed;
            padding: 50px;
            width: 90%;
            background-color: Variables.$White;
            display: flex;
            justify-content: center;
            align-items: center;
            top: 26.8%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 5px;

            &_a {
                display: flex;
                justify-content: center;
                text-decoration: none;
                color: dimgray;
                margin: 10px;
            }
        }

        &_menu-btn {
            align-self: center;
            &:hover {
                cursor: pointer;
            }
        }

        &_close-btn {
            cursor: pointer;
            display: none;
        }

        &_invite-btn {
            display: none;
        }
    }

    /*                   */
    /*    Main Styles    */
    /*                   */

    &_main-container {
        display: flex;
        flex-direction: column;

        &_description {
            order: 2;
            padding: 40px;
            text-align: justify;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;

            // &_title {
                
            // }

            &_paragraph {
                margin-bottom: 30px;
                color: Variables.$Grayish-Blue;
                
            }
        }

        &_poster {
            order: 1;
            background-image: url(Variables.$Main-Background-Mobile);
            background-size: 100% 100%;
            background-repeat: no-repeat;
            &_img {
                margin-top: 7rem;
                width: 100%;
            }
        }
    }

     /*                   */
     /*  Benefits styles  */
     /*                   */

    &_benefits-container {
        padding: 3rem 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: Variables.$Light-Grayish-Blue;

        &_benefit {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            align-items: center;
            
            &_icon {
                margin: 20px auto;
            }

            &_title {
                margin-bottom: 20px;
            }

            &_description {
                margin-bottom: 40px;
            }
        }
    }

     /*                   */
     /*  Articles styles  */
     /*                   */

    &_articles-section {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        flex: center;
        padding: 6.25rem 0;

        &_article-card {
            background-color: Variables.$Very-Light-Gray;
            max-width: 26.563rem;
            overflow: hidden;
            border-radius: 10px;
            margin: 1rem 0;

            &_img {
                width: 100%;
            }

            &_description {
                padding: 2rem;
                text-align: left;

                &_author {
                    margin-bottom: 1rem;
                }

                &_title {
                    text-align: left;
                    margin: 1rem 0 1rem 0;
                    &:hover {
                        transition: 0.2s ease all;
                        color: Variables.$Lime-Green;
                        cursor: pointer;
                    }
                }
            }
        }
    }

     /*                   */
     /*   footer styles   */
     /*                   */

     &_footer {
        background-color: Variables.$Dark-Blue;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &_left-menu {
            padding: 2.5rem;
            display: flex;
            flex-direction: column;
            align-items: center;

            &_logo-social-container {

                &_logo {
                    margin-bottom: 1rem;
                }

                &_social-icons {
                    display: flex;
                    width: 10rem;
                    justify-content: space-between;
                    margin-bottom: 1rem;
                    
                    &_icon {

                        &_facebook {
                            fill: Variables.$Lime-Green;
                        }
                        
                        &:hover {
                            transition: 0.2s ease all;
                            fill: Variables.$Lime-Green;
                            cursor: pointer;
                        }
                    }
                }
            }

            &_nav1, &_nav2{
                display: flex;
                align-items: center;
                flex-direction: column;
                

                &_links {
                    margin-bottom: 0.5rem;
                    text-decoration: none;
                    color: Variables.$White;

                    &:hover {
                        transition: 0.2s ease all;
                        color: Variables.$Lime-Green;
                    }
                }
            }
        }

        &_right-menu {
            padding-bottom: 2.5rem;
            display: flex;
            flex-direction: column;
            align-items: center;

            &_signature {
                margin-top: 1.5rem;
            }
        }
     }
}